<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GraduationProject"
        tools:targetApi="31">
        <activity
            android:name=".ModuleClient.SeeWorkoutPlan"
            android:exported="false" />
        <activity
            android:name=".ModelCreateWorkoutPlan.WorkoutPlanArea"
            android:exported="false"
            android:label="@string/title_activity_trener_area" />
        <activity
            android:name=".ModelCoach.Application.ApplicationInfo"
            android:exported="false" />
        <activity
            android:name=".ModelCoach.CoachArea"
            android:exported="false"
            android:label="@string/title_activity_coach_area" />
        <activity
            android:name=".ModuleClient.CreateApplications"
            android:exported="false" />
        <activity
            android:name=".ModuleClient.PersonalAreaWindow"
            android:exported="false" />
        <activity
            android:name=".CommonWindow.ChatWindow"
            android:exported="false" />
        <activity
            android:name=".CommonWindow.LoginWindow"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>